@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  color: #0f1112; }

body {
  margin: 0; }

.header_big, h1 {
  letter-spacing: 1.5;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase; }

.header_sml_semibold, .launchesList header h1, .launchDetails .links h3 {
  letter-spacing: 18px;
  font-weight: 600;
  font-size: 24px; }

.header_sml {
  font-size: 24px; }

.basic_exp_semibold, .launchesList ul li h3 {
  letter-spacing: 9px;
  font-weight: 600; }

.loaderElement {
  text-align: center;
  height: 70px;
  color: #ccac5b;
  background: url(space_x_logo_x_sign.png) no-repeat center top;
  background-size: contain;
  -webkit-animation: logo-pulse 3s ease 0s infinite;
          animation: logo-pulse 3s ease 0s infinite; }

@-webkit-keyframes logo-pulse {
  0% {
    opacity: 0.05; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.05; } }

@keyframes logo-pulse {
  0% {
    opacity: 0.05; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.05; } }

.launchesList {
  background-color: #0f1112;
  color: #ffffff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .launchesList .loaderElement {
    margin-top: 50px;
    margin-bottom: 100px; }
  .launchesList header {
    background: url(moon.png) no-repeat center top;
    background-size: contain;
    height: 350px;
    margin-top: 75px;
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .launchesList header .logo {
      height: 75px;
      margin-left: 5%;
      width: 100%;
      display: block;
      background: url(space_x_logo_bw_centered.png) no-repeat center;
      background-size: contain; }
    .launchesList header h1 {
      color: #a7a9ac; }
  .launchesList .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px 0; }
    .launchesList .filters button {
      color: #a7a9ac;
      font-family: "Open Sans", sans-serif;
      border: none;
      background: none;
      font-size: 14px;
      margin: 15px;
      padding: 7px 35px;
      border: 1px solid #a7a9ac;
      border-radius: 20px;
      text-transform: uppercase; }
      .launchesList .filters button:hover, .launchesList .filters button.active {
        color: #ffffff;
        border-color: #ffffff;
        -webkit-box-shadow: 0px 0px 10px #ffffff inset;
                box-shadow: 0px 0px 10px #ffffff inset; }
  .launchesList .alert {
    text-align: center;
    color: #ccac5b; }
  .launchesList ul {
    text-transform: uppercase;
    list-style: non;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0 5% 125px 5%; }
    .launchesList ul li {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 48%;
              flex: 0 0 48%;
      width: 46%;
      padding-right: 4%;
      color: #a7a9ac;
      border-right: 1px dashed #a7a9ac;
      -ms-flex-item-align: start;
          align-self: flex-start;
      display: block;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis; }
      .launchesList ul li:last-child {
        padding-bottom: 50px; }
      .launchesList ul li:nth-child(2n) {
        padding-right: 0;
        padding-left: 4%;
        text-align: right;
        -ms-flex-item-align: end;
            align-self: flex-end;
        border-right: none;
        border-left: 1px dashed #a7a9ac; }
        .launchesList ul li:nth-child(2n) h3::after {
          float: left;
          -webkit-transform: none;
                  transform: none;
          margin-left: -7px;
          margin-top: 27px; }
        .launchesList ul li:nth-child(2n) p {
          float: right; }
      .launchesList ul li h3 {
        color: #ffffff;
        border-bottom: 2px solid #ccac5b;
        padding: 16px 0;
        margin: 16px 0; }
        .launchesList ul li h3::after {
          content: url(arrow_pointer.png);
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
          margin-top: 29px;
          margin-right: -7px;
          float: right; }
        .launchesList ul li h3::before {
          content: ".";
          color: #a7a9ac;
          position: absolute;
          font-size: 39px;
          left: 49.7%; }
      .launchesList ul li p {
        margin: 0;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        overflow: hidden;
        width: 80%; }
        .launchesList ul li p span {
          color: #ffffff; }

.launchDetails header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #0f1112;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .launchDetails header .goback {
    background: url(arrow_pointer.png) no-repeat center left;
    padding-left: 15px;
    letter-spacing: 9px;
    text-transform: uppercase;
    color: #ccac5b;
    -ms-flex-item-align: center;
        align-self: center;
    text-decoration: none; }
  .launchDetails header .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    background: url(space_x_logo_bw_centered.png) no-repeat center;
    background-size: contain;
    height: 40px; }

.launchDetails .launchDetailsDetails {
  padding: 75px 50px 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .launchDetails .launchDetailsDetails .basics {
    text-transform: uppercase; }
    .launchDetails .launchDetailsDetails .basics .launchDate {
      color: #a7a9ac;
      letter-spacing: 9px; }
    .launchDetails .launchDetailsDetails .basics h1 {
      margin-bottom: 5px; }
    .launchDetails .launchDetailsDetails .basics .timeToStart {
      margin-top: 5px; }
  .launchDetails .launchDetailsDetails div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-bottom: 50px; }
  .launchDetails .launchDetailsDetails .launchTableDetails div {
    padding-bottom: 0px; }
  .launchDetails .launchDetailsDetails .launchTableDetails .loaderElement {
    background: url(space_x_logo_x_sign_inverse.png) white no-repeat center top;
    background-size: contain; }
  .launchDetails .launchDetailsDetails ul {
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .launchDetails .launchDetailsDetails li {
    width: 40%;
    border-left: 1px dashed #a7a9ac;
    padding-left: 20px; }
    .launchDetails .launchDetailsDetails li span {
      color: #a7a9ac;
      display: block;
      float: left;
      height: 100%;
      margin-right: 5px; }
  .launchDetails .launchDetailsDetails h3 {
    color: #ccac5b;
    text-transform: uppercase;
    letter-spacing: 9px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: #ccac5b 2px solid;
    padding-bottom: 20px; }

.launchDetails .links {
  background: url(rocket.png) #666666 no-repeat center top;
  background-size: contain;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center; }
  .launchDetails .links h3, .launchDetails .links a {
    color: #ffffff;
    text-transform: uppercase; }
  .launchDetails .links h3 {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-flex: 2;
        -ms-flex: 2 1 100%;
            flex: 2 1 100%; }
  .launchDetails .links a {
    text-decoration: none;
    border: 1px #ffffff solid;
    border-radius: 20px;
    padding: 5px 30px;
    margin: 30px 10px 70px 10px; }

footer {
  background-color: #22272b;
  color: #666666;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 50px; }
  footer .links a {
    color: #a7a9ac;
    text-decoration: none;
    margin: 0 5px; }


/*# sourceMappingURL=main.css.map*/